version: 2
jobs:
  build:
    docker:
      - image: "circleci/node:latest"
    branches:
      only:
        - master
    steps:
      - checkout
      - run:
          name: install
          command: npm install
      # - run:
      #     name: start server
      #     command: npm run pm2:server
      # - run:
      #     name: produce test coverage
      #     command: npm run coverage
      - run:
          name: build
          command: npm run build
      - run:
          name: release
          command: npm run release
